.btn {
    height: 100%;
    font-size: em(18);
    font-weight: 500;
    letter-spacing: -.02em;
    transition: all .15s ease;
    cursor: pointer;
    z-index: 99;

    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
    }
}

.btn-lg {
    @include button-size(40px 0, 40px 0, em(18, 18), 1, 0);
    min-width: 55px;
}

.btn-sm {
    @include button-size(15px 0, 15px 0, em(18, 18), 1, 0);
    min-width: 50px;
}

.btn-xs {
    @include button-size(8px 0, 8px 0, em(18, 18), 1, 0);
    min-width: 55px;
}